#ifndef SECRETS_H
#define SECRETS_H

// WiFi credentials
const char* ssid = "YOUR_WIFI_SSID";
const char* password = "YOUR_WIFI_PASSWORD";

// AWS IoT Core MQTT details
const char* mqtt_server = "SERVER_ENDPOINT.com";
const int mqtt_port = 8883;

// Device ID
const char* deviceId = "DEVICE_ID";

// CA cert, device cert, private key (from AWS IoT)
const char* ca_cert = R"EOF(
-----BEGIN CERTIFICATE-----
YOUR_CA_CERT
-----END CERTIFICATE-----
)EOF";

const char* client_cert = R"KEY(
-----BEGIN CERTIFICATE-----
YOUR_CLIENT_CERT
-----END CERTIFICATE-----
)KEY";

const char* private_key = R"KEY(
-----BEGIN RSA PRIVATE KEY-----
YOUR_PRIVATE_KEY
-----END RSA PRIVATE KEY-----
)KEY";

#endif
